[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
mlflow = "*"
prefect = "*"
scikit-learn = "*"
torch = {version = "*", index = "downloadpytorch"}
boto3 = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pylint = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
